node-red/iotree-flows.json
[
    {
        "id": "53c53a56.08c564",
        "type": "tab",
        "label": "Integrations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6363179b.a1c6b8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "3e4082c1.5e668e",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "6363179b.a1c6b8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ffbdf57f.eea1e8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f99427e3.fa5248",
        "type": "http request",
        "z": "53c53a56.08c564",
        "name": "PUT /led",
        "method": "PUT",
        "ret": "obj",
        "url": "http://localhost:5000/led",
        "tls": "",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "46a8327d.07f8fc"
            ]
        ]
    },
    {
        "id": "46a8327d.07f8fc",
        "type": "debug",
        "z": "53c53a56.08c564",
        "name": "LED Service Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "11a30799.b55fa8",
        "type": "inject",
        "z": "53c53a56.08c564",
        "name": "",
        "topic": "",
        "payload": "rainbow_cycle",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "f99427e3.fa5248"
            ]
        ]
    },
    {
        "id": "672fefba.6df82",
        "type": "inject",
        "z": "53c53a56.08c564",
        "name": "",
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "f99427e3.fa5248"
            ]
        ]
    },
    {
        "id": "2dba8214.34255e",
        "type": "http request",
        "z": "53c53a56.08c564",
        "name": "GET /led",
        "method": "GET",
        "ret": "obj",
        "url": "http://localhost:5000/led",
        "tls": "",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "46a8327d.07f8fc"
            ]
        ]
    },
    {
        "id": "bc636170.38292",
        "type": "inject",
        "z": "53c53a56.08c564",
        "name": "Inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "2dba8214.34255e"
            ]
        ]
    },
    {
        "id": "6e7b22fc.0c5e14",
        "type": "inject",
        "z": "53c53a56.08c564",
        "name": "",
        "topic": "",
        "payload": "flash_colors",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "f99427e3.fa5248"
            ]
        ]
    },
    {
        "id": "5247b0d3.dd7e4",
        "type": "inject",
        "z": "53c53a56.08c564",
        "name": "",
        "topic": "",
        "payload": "eiffel_tower",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "f99427e3.fa5248"
            ]
        ]
    }
]