node-red/iotree-flows.json
[
    {
        "id": "53c53a56.08c564",
        "type": "tab",
        "label": "Integrations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6363179b.a1c6b8",
        "type": "ui_tab",
        "z": "",
        "name": "Watson IoTree",
        "icon": "dashboard"
    },
    {
        "id": "3e4082c1.5e668e",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "6363179b.a1c6b8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ffbdf57f.eea1e8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "721187de.4f9b7",
        "type": "tls-config",
        "z": "",
        "name": "No Verify",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "9c9b1250.68a46",
        "type": "wiotp-credentials",
        "z": "",
        "name": "iotree-1",
        "org": "tkswmp",
        "serverName": "",
        "devType": "IoTree",
        "devId": "iotree-1",
        "keepalive": "60",
        "cleansession": true,
        "tls": "721187de.4f9b7",
        "usetls": true
    },
    {
        "id": "222041e2.611686",
        "type": "mqtt-broker",
        "z": "",
        "name": "iotree-1",
        "broker": "tkswmp.messaging.internetofthings.ibmcloud.com",
        "port": "8883",
        "tls": "721187de.4f9b7",
        "clientid": "d:tkswmp:IoTree:iotree-1",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "25a9aa68.9feeee",
        "type": "ibmiot",
        "z": "",
        "name": "IoTree App",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "f99427e3.fa5248",
        "type": "http request",
        "z": "53c53a56.08c564",
        "name": "PUT /led",
        "method": "PUT",
        "ret": "obj",
        "url": "http://localhost:5000/led",
        "tls": "",
        "x": 620,
        "y": 240,
        "wires": [
            [
                "46a8327d.07f8fc"
            ]
        ]
    },
    {
        "id": "46a8327d.07f8fc",
        "type": "debug",
        "z": "53c53a56.08c564",
        "name": "LED Service Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "11a30799.b55fa8",
        "type": "inject",
        "z": "53c53a56.08c564",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "950965e5.c6daa"
            ]
        ]
    },
    {
        "id": "672fefba.6df82",
        "type": "inject",
        "z": "53c53a56.08c564",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "56b957ed.4ef1f"
            ]
        ]
    },
    {
        "id": "2dba8214.34255e",
        "type": "http request",
        "z": "53c53a56.08c564",
        "name": "GET /led",
        "method": "GET",
        "ret": "obj",
        "url": "http://localhost:5000/led",
        "tls": "",
        "x": 620,
        "y": 520,
        "wires": [
            [
                "46a8327d.07f8fc"
            ]
        ]
    },
    {
        "id": "bc636170.38292",
        "type": "inject",
        "z": "53c53a56.08c564",
        "name": "Inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "2dba8214.34255e"
            ]
        ]
    },
    {
        "id": "6e7b22fc.0c5e14",
        "type": "inject",
        "z": "53c53a56.08c564",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "4c1d0fa3.7a8a3"
            ]
        ]
    },
    {
        "id": "5247b0d3.dd7e4",
        "type": "inject",
        "z": "53c53a56.08c564",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "7a759bc7.d9c2ac"
            ]
        ]
    },
    {
        "id": "1cc8a00c.0c4f3",
        "type": "ui_button",
        "z": "53c53a56.08c564",
        "name": "",
        "group": "3e4082c1.5e668e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Rainbow Cycle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "950965e5.c6daa"
            ]
        ]
    },
    {
        "id": "e72b27ba.5a9d78",
        "type": "ui_button",
        "z": "53c53a56.08c564",
        "name": "",
        "group": "3e4082c1.5e668e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flash Colors",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "4c1d0fa3.7a8a3"
            ]
        ]
    },
    {
        "id": "bd5577f4.6e58a",
        "type": "ui_button",
        "z": "53c53a56.08c564",
        "name": "",
        "group": "3e4082c1.5e668e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Eiffel Tower",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "7a759bc7.d9c2ac"
            ]
        ]
    },
    {
        "id": "f2b19912.9c9678",
        "type": "ui_button",
        "z": "53c53a56.08c564",
        "name": "",
        "group": "3e4082c1.5e668e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "56b957ed.4ef1f"
            ]
        ]
    },
    {
        "id": "950965e5.c6daa",
        "type": "change",
        "z": "53c53a56.08c564",
        "name": "rainbow_cycle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rainbow_cycle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "f99427e3.fa5248"
            ]
        ]
    },
    {
        "id": "4c1d0fa3.7a8a3",
        "type": "change",
        "z": "53c53a56.08c564",
        "name": "flash_colors",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "flash_colors",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "f99427e3.fa5248"
            ]
        ]
    },
    {
        "id": "7a759bc7.d9c2ac",
        "type": "change",
        "z": "53c53a56.08c564",
        "name": "eiffel_tower",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "eiffel_tower",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "f99427e3.fa5248"
            ]
        ]
    },
    {
        "id": "56b957ed.4ef1f",
        "type": "change",
        "z": "53c53a56.08c564",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "f99427e3.fa5248"
            ]
        ]
    },
    {
        "id": "66cbb438.06c4dc",
        "type": "debug",
        "z": "53c53a56.08c564",
        "name": "Platform Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "ac3a7ab4.6c3418",
        "type": "mqtt in",
        "z": "53c53a56.08c564",
        "name": "set-mode",
        "topic": "iot-2/cmd/set-mode/fmt/txt",
        "qos": "2",
        "broker": "222041e2.611686",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "66cbb438.06c4dc",
                "f99427e3.fa5248"
            ]
        ]
    }
]